#camera-video {
	max-width: 100%;
}
#camera-video.flipped {
	transform: scaleX(-1);
}
#test-container.loaded > #loading-content, #test-container.loading > #loaded-content {
	display: none !important;
}